@import "Bourbon";

// zmienne

// kolory
$maincolor: #ffa500;
$maindark: #eb9800; //darken($maincolor, 7%);
$border: lighten(#666666, 40%);
$fa: #fafafa;
$granat: #181d3c;

// media
$small: 640px;
$medium: 800px;
$large: 1280px;

// importowane pliki częściowe
@import "tech-list";
@import "filters";

// technology details
.tab-content {
  h5 {
    text-align: left;
    font-size: 13px;
    color: $maindark;
  }
}


// pozostale zmiany w szablonie
.fixed-header-on .header.fixed {
  position: absolute;
}

.scrollToTop {
  background-color: rgba(black, 0.3);
}

  .btn-default.btn-sm {
    border: 1px solid;
    border-color: $maindark;
  }
  .btn-white.btn-sm {
    border: 1px solid;
  &:hover, &:focus {
    border-color: $maindark;
  }
}
