@import "Bourbon";

// zmienne

// kolory
$maincolor: #ffa500;
$maindark: #eb9800; //darken($maincolor, 7%);
$border: lighten(#666666, 40%);
$fa: #fafafa;
$granat: #181d3c;

// media
$small: 640px;
$medium: 800px;
$large: 1280px;

// importowane pliki częściowe
@import "tech-list";
@import "filters";

// technology details
.tab-content {
  width: 100%;
  h5 {
    text-align: left;
    font-size: 13px;
    color: $maindark;
  }
  @media screen and (max-width: $small) {
    font-size: 13px;
  }
}

.tab-pane.fade {
  img {
    padding: 0 0 15px 0;
    max-width: 200px;
  }
  ul {
    list-style: none;
    padding-left: 0px;
  }
 .dates, %dates {
  text-transform: uppercase;
  font-size: 13px;
  padding-right: 10px;
 }
 .answear {
  @extend %dates;
  font-weight: 800;
  }
}


// pozostale zmiany w szablonie
.fixed-header-on .header.fixed {
  position: absolute;
}

.scrollToTop {
  background-color: rgba(black, 0.3);
}

  .btn-default.btn-sm {
    border: 1px solid;
    border-color: $maindark;
  }
  .btn-white.btn-sm {
    border: 1px solid;
  &:hover, &:focus {
    border-color: $maindark;
  }
}
